<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description"
        content="ExpressJS Template Description">

        
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include ('./components/jsHead.ejs') %>
    <%- include ('./components/stylesHead.ejs') %>

</head>

<body>
  <!-- * START Google Tag Manager -->
    <%- include ('./components/gtmBody.ejs') %>
  <!-- * END Google Tag Manager -->

  <!-- * START Bootstrap -->
    <%- include ('./components/bootstrapBody.ejs') %>
  <!-- * END Boostrap -->

  <p class="h1">Welcome to expressJS template</p>

  <a href="/login">login</a>
  <a href="/register">register</a>



</body>

</html>