<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> <%= title %> </title>
    <meta name="description"
        content="<%= description %>"
        > 
<!-- TODO fix  https://app.clickup.com/t/86976m58a -->
        
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include ('./components/jsHead.ejs') %>
    <%- include ('./components/stylesHead.ejs') %>


    

</head>
<body>

<%- include('components/bootstrapBody') %>

<nav class="container py-2 border-bottom">
    <div class="row">


        <h1 class="col-3 text-center fs-6">User Dashboard</h1>


        <ul class="d-flex gap-5 col-6 text-end">
            <li><a href="/user/dashboard">Dashboard</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/settings">Settings</a></li>
        </ul>
        <a class="btn btn-primary col-3" href="/logout">logout</a>
    </div>
</nav>

</body>
</html>